@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url('UbuntuMono.woff2') format('woff2');
}

* {
    font-family: 'Ubuntu Mono';
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar { 
    display: none;
}

html {
    
    color: #E4E2E0;
    background-color: #2b2435;
}

body {

    overflow-x: hidden;
	overscroll-behavior-y: none;
    background: repeating-linear-gradient(to top left, #46209ecc, #2b2435, #2b2435 10%);
    animation: bg-anim 8s linear infinite;
    background-size: 50em 50em;
}

@keyframes bg-anim {

    0%    { background-position: 0em  0; }
    100%  { background-position: 50em 0; }
}

div#container {
    min-height: 100vh;
    background: linear-gradient(transparent, #2b2435FF);
}

input {
    font-size: 1.75em;
}

input, select {
    background-color: transparent;
    border: none;
}

input[name="desc"] {
    color: #706676;
    width: 100%;
    height: 2.5em;
    margin-bottom: 0.5em;
    padding-left: 0.75em;
    margin-bottom: -0.75em;
    background: linear-gradient(#2b2435FF, transparent);
}

input::placeholder {
    color: #3d4372;
    line-height: 1;
    letter-spacing: -12;
}

input:focus::-webkit-input-placeholder { 
    color:transparent;
}

#taskHUD {
    font-size: 0.9em;
    padding-left: 1.5em;
    position: relative;
    width: calc(1000px + 100% - 1.5em);
    overflow:hidden;
    padding-bottom: 1.25em;
}

#twodew {
    letter-spacing: -10;
    margin-right: 0.75em;    
}

ul {
    list-style-type: none;
}

li {
    padding-left: 20px;
}

/* link-related */
a {
    text-decoration: none;
    opacity: 0.5 !important;
    color: inherit;
}
a:hover {
    opacity: 1 !important;
    font-weight: bolder;
}
a.checkbox {opacity: 1;}
a.edit:hover {color: orange;}
a.delete:hover { color: Red;}
.task a:hover {
    text-shadow: 0.2em 0.2em black;
}

.pTitle {
    letter-spacing: 0.5em;
    margin-bottom: -0.33em;
}

.period {
    font-size: 2em;
}

.period ul.category:first-of-type {

    padding-top: 0.33em;
}

.pTitle, .pTitleDone {
    font-size: 44px;
    font-style:oblique;
    text-shadow: 0.08em 0.08em black;
}

ul.category table {
    padding-top: 20px;
    padding-bottom: 40px;
}


div.period {
    background: linear-gradient(transparent, #2b2435AA 10%,  #2b2435AA 90%, transparent 100%);
}

div:last-of-type {
    background: linear-gradient(transparent, #2b2435AA 10%);
}

tr.cTitle td {
    font-size: 1.75em;
    letter-spacing: 0.2em;
    padding-bottom: 0.25em;
}

/* task related */
table {
    margin-left: 1.5em;
    padding-right: 1.5em;
}
td.checkbox {
    vertical-align: top;
    position: relative;
    top: 0.2em;
    padding-right: 1.75em;
    white-space: nowrap;
    font-size: 0.75em;
}

.task {
    font-size: 1.1em;
    line-height: 1;
    letter-spacing: 0.85;
}

.task a {

    opacity: 1 !important;
}

.taskbody {
    display:inline-block;
    max-width: auto;
}

.done {
    text-decoration: line-through;
    opacity: 0.25;
}
.checkbox, .edit, .delete {
    text-decoration: none !important;
}

.edit, .delete {
    font-size: 0.75em;
}

a#toggle {
    position: fixed;
    font-size: 1em;
    bottom: 10px;
    right: 10px;
}

#hiddenprompt {

    padding: 2em;
    background-color: #6d587d;
    box-shadow: 0em 0em 50px #00000088;
    padding: 1em;
    border-radius: 1em;

    position: fixed;
    top: 30%;
    left: 10%;
    right:10%;
}

#hiddenprompt a {
    opacity: 1 !important;
    font-size: 1em;
    padding: 0.2em 1em;
    background-color: #00000033;
    border-radius: 5px;
}

#hiddenprompt a:hover {
    text-decoration: underline;
}

#hiddenprompt input, #hiddenprompt select {
    color: white;
    border: 1px solid #00000033;
}

#promptDesc {

    font-size: 1em;
    background-color: #2b243588;

    margin: 0 0 0.75em 0;
    border-radius: 0.5em;
    padding: 1em;
}

#hiddenprompt select {

    background-color: #2b243588;
    height: 2em;
    vertical-align: top;
    margin-bottom: 0.5em;
    font-size: 0.8em;
}

#hiddenprompt select:last-of-type {

    margin-bottom: 3em;
}

/* Portrait Overrides */
/* @media (max-aspect-ratio: 3/3) {} */
/* Landscape Overrides */
/* @media (min-aspect-ratio: 3/3) {} */